
<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>wooyun搜索</title>
<link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="static/css/site.min.css" rel="stylesheet">
<link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="static/js/jquery-2.0.0.min.js"></script>  
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>  
</head>
<body><div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Wooyun搜索</a> </div>
  </div>
</div>
{% block content %}{% endblock %}
  <!--
<div class="jumbotron masthead">
<div class="container">
      
  </div>
</div>-->
<footer class="footer">
  <div class="container">
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a href="#" target="_blank">Wooyun Search</a></li>
        <li>Wooyun搜索</li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>