<!--
<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>wooyun搜索</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/site.min.css" rel="stylesheet">
</head>
<body>-->
{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
  function search_bug_action() {  
    var params = document.getElementById("key_input").value;      
    var form_tmp = document.createElement("form");
    form_tmp.action = "/bug_search";
    form_tmp.method = "get";
    form_tmp.style.display = "none";
    var input_tmp = document.createElement("textarea");
    input_tmp.name = "key_word";
    input_tmp.value = params;
    form_tmp.appendChild(input_tmp);           
    document.body.appendChild(form_tmp);
    form_tmp.submit();
  }

  function search_doc_action() {  
    var params = document.getElementById("key_input").value;      
    var form_tmp = document.createElement("form");
    form_tmp.action = "/doc_search";
    form_tmp.method = "get";
    form_tmp.style.display = "none";
    var input_tmp = document.createElement("textarea");
    input_tmp.name = "key_word";
    input_tmp.value = params;
    form_tmp.appendChild(input_tmp);           
    document.body.appendChild(form_tmp);
    form_tmp.submit();
  } 
  </script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wooyun搜索</a> </div>
  
  </div>
</div>
<div class="jumbotron masthead">
  <div class="container">
    <h1>Wooyun Search</h1>
      <div class="row-fluid">
          <div class = "span12">

            
              <div class="input-group">
                <input type="text" class="form-control input-lg"  id = "key_input"   placeholder="输入搜索关键词……"/>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-lg btn-primary"  value="search" onclick="javascript:search_bug_action()">漏洞搜索</button>
                  <button type="submit" class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown"> <span class="caret"></span> </button>
                      <ul class="dropdown-menu" role="menu">
                      <li><a  type="submit"  href="javascript:search_doc_action()" >资料搜索</a></li>
                      </ul>
                      
               </span>
              </div>
          
          </div>
          <div class = "span12">
            <p >
                   <h4>总计收录 {{counts}} 个</h4>
                </p>
          </div>
      </div>

    <!--
    <div class="row">
    <button type="submit" class="btn btn-primary" onClick="" value="search">搜索</button>
    </div>
    -->
   
  </div>
</div>
 {% endblock %}
<!--
<footer class="footer">
  <div class="container">
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a href="#" target="_blank">Wooyun Search</a></li>
        <li>Wooyun搜索</li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
-->